body {
    font-family: Arial, sans-serif;
    margin-top: 120px; /* Ajusta este valor según la altura de tu barra de navegación */
}

header .navbar {
    padding: 0;
    height: 100px; /* Fija la altura de la barra de navegación */
}

.navbar-brand img {
    height: 80px; /* Ajusta el tamaño del logo */
}

#hero {
    background: url('hero-background.jpg') no-repeat center center/cover;
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

section {
    padding: 60px 0;
}

#services h2, #contact h2, #about h2 {
    margin-bottom: 40px;
}

.fixed-top {
    background-color: rgba(8, 102, 8, 0.9);
    transition: background-color 0.5s ease;
}
